{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block page_titlle %}
{% if maquina.pk %}
    Editar Máquina
{% else %}
    Nova Máquina
{% endif %}
{% endblock page_titlle %}

{% block content %}
    {% if maquina.pk %}
        <h1>Editar Máquina</h1>
    {% else %}
        <h1>Nova Máquina</h1>
    {% endif %}

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}


        <div class="mb-3">
            <label for="id_imagens" class="form-label">Imagens da Máquina</label>
            <input type="file" name="imagens" multiple class="form-control">
        </div>

        <button type="submit" class="btn btn-primary">Salvar</button>
    </form>

    {% if maquina.pk %}
        <h2 class="mt-5">Imagens Cadastradas</h2>
        <div class="row">
            {% for imagem in maquina.imagens.all %}
                <div class="col-3 mb-3">
                    <img src="{{ imagem.imagem.url }}" class="img-thumbnail" alt="Imagem da máquina">
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock content %}
