{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="card shadow-sm">
      <div class="card-body">
        <h3 class="text-success mb-4">
          {% if manutencao %}<i class="fas fa-edit"></i> Editar{% else %}<i class="fas fa-plus"></i> Nova{% endif %} Manutenção
        </h3>

    <form method="post">
      {% csrf_token %}
      {{ form|crispy }}
      <div class="d-flex justify-content-between mt-3">
        <a href="{% url 'listar_manutencoes' %}" class="btn btn-secondary">
          <i class="bi bi-arrow-left"></i> Voltar
        </a>
        <button type="submit" class="btn btn-success">
          <i class="bi bi-save"></i> Salvar Manutenção
        </button>
      </div>
    </form>

      </div>
    </div>
{% endblock content %}